* {
  font-family: arial;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  
}
h1,h2,h3{

text-align: center;
}

body{

  background-size: cover;
  background-color: #b0e0e6;
}

table, th,td {
border : 1px solid black;

}
